body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* label{
  font-size: 2rem;
  font-weight: 400;
  color: black;
  display: inline-block;
  width: 8rem;
} */

form{
  /* width: 100px; */
  margin: 5% 20% 0;
}

select, input{
  font-size: 1.5rem;
  font-weight: 300;
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
}

.form-control, .form-control-lg{
  padding: 5px;
  margin: 0 3px;
}

.datepicker{
  border: none;
  margin: auto;
  /* text-align: left; */
  margin: 0;
  padding: 0;
  width: 100%;
}

.icon{
  float: left;
  margin: 10px 10px 10px 20px;
}

.title{
  color: #fafafa;
  margin: 20px;
}
