body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* label{
  font-size: 2rem;
  font-weight: 400;
  color: black;
  display: inline-block;
  width: 8rem;
} */

form{
  /* width: 100px; */
  margin: 5% 20% 0;
}

select, input{
  font-size: 1.5rem;
  font-weight: 300;
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
}

.form-control, .form-control-lg{
  padding: 5px;
  margin: 0 3px;
  /* display: inline-block; */
}

.datepicker{
  border: none;
  margin: auto;
  /* text-align: left; */
  margin: 0;
  padding: 0;
  width: 100%;
}

/* .icon{
  float: left;
  margin: 3px 5px 0px 20px;
} */

/* .title-div-am{
  background-color: grey;
} */

.title{
  color: #fafafa;
  padding: 10px 0 10px 10px;
}

.title-am{
  color: #fafafa;
  margin-bottom: 0;
  padding: 10px 0 10px 10px;
  /* display: inline-block; */
  background-color: #212529;
}

.submit-btn{
  /* text-decoration: none; */
  /* padding: 0; */
}

.submit-link:hover{
  text-decoration: none;
}

/* .carousel{
  data-interval: 2500;
} */

/* .d-block{
  margin: -300px 0;
} */

.mb-3{
  margin: 0!important;
  /* border-bottom-width: 0px; */
  border-left-width: 0px;
  border-radius: 0;
}

.card-img{
  border-radius: 0;
}

.card-text{
  margin-bottom: 1px;
}
